name: "Test Compute Semver (Compairifuel/.github #21)"

on:
    workflow_dispatch:
        inputs:
            defaults:
                description: "Whether to test defaults test cases"
                required: true
                default: true
                type: boolean

jobs:
    test-defaults-patch-only:
        name: "GIVEN fix,docs,chore commits AND latest-tag=v0.0.0 AND is-trunk WHEN compute-semver THEN semver=v0.0.1 AND changelog only contains patch commits"
        runs-on: ubuntu-latest
        if: github.event.inputs.defaults == 'true'
        steps:
            - uses: actions/checkout@v6
            - uses: compairifuel/.github/actions/compute-semver@feat/semver-workflow
              name: Perform Test
              id: compute-semver
              with:
                commits: |
                    fix: fix bug
                    ==END==
                    docs: update documentation
                    ==END==
                    chore: update dependencies
                    ==END==
                latest-tag: v0.0.0
                is-trunk: true
            - name: Assert semver is v0.1.0
              uses: jaronline/action-assertions/assert-equals@v1
              with:
                expected: v0.0.1
                actual: ${{ steps.compute-semver.outputs.semver }}
            - name: Assert changelog only contains patch commits
              uses: jaronline/action-assertions/assert-equals@v1
              with:
                expected: |-
                    PATCH:fix: fix bug
                    PATCH:docs: update documentation
                    PATCH:chore: update dependencies
                actual: ${{ steps.compute-semver.outputs.changelog }}

    test-defaults-minor-only:
        name: "GIVEN feat,feature commits AND latest-tag=v0.0.0 AND is-trunk WHEN compute-semver THEN semver=v0.1.0 AND changelog only contains minor commits"
        runs-on: ubuntu-latest
        if: github.event.inputs.defaults == 'true'
        steps:
            - uses: actions/checkout@v6
            - uses: compairifuel/.github/actions/compute-semver@feat/semver-workflow
              name: Perform Test
              id: compute-semver
              with:
                commits: |
                    feat: add new feature
                    ==END==
                    feature: improve existing feature
                    ==END==
                    feat: enhance performance
                    ==END==
                latest-tag: v0.0.0
                is-trunk: true
            - name: Assert semver is v0.1.0
              uses: jaronline/action-assertions/assert-equals@v1
              with:
                expected: v0.1.0
                actual: ${{ steps.compute-semver.outputs.semver }}
            - name: Assert changelog only contains minor commits
              uses: jaronline/action-assertions/assert-equals@v1
              with:
                expected: |-
                    MINOR:feat: add new feature
                    MINOR:feature: improve existing feature
                    MINOR:feat: enhance performance
                actual: ${{ steps.compute-semver.outputs.changelog }}

    test-defaults-major-only:
        name: "GIVEN breaking changes AND latest-tag=v0.0.0 AND is-trunk WHEN compute-semver THEN semver=v1.0.0 AND changelog only contains major commits"
        runs-on: ubuntu-latest
        if: github.event.inputs.defaults == 'true'
        steps:
            - uses: actions/checkout@v6
            - uses: compairifuel/.github/actions/compute-semver@feat/semver-workflow
              name: Perform Test
              id: compute-semver
              with:
                commits: |
                    feat!: breaking change in feature
                    ==END==
                    fix!: breaking change in fix
                    ==END==
                    refactor!: breaking change in refactor
                    ==END==
                    feat: add a new feature

                    BREAKING CHANGE: this is a breaking change
                    ==END==
                latest-tag: v0.0.0
                is-trunk: true
            - name: Assert semver is v1.0.0
              uses: jaronline/action-assertions/assert-equals@v1
              with:
                expected: v1.0.0
                actual: ${{ steps.compute-semver.outputs.semver }}
            - name: Assert changelog only contains major commits
              uses: jaronline/action-assertions/assert-equals@v1
              with:
                expected: |-
                    MAJOR:feat!: breaking change in feature
                    MAJOR:fix!: breaking change in fix
                    MAJOR:refactor!: breaking change in refactor
                    MAJOR:feat: add a new feature

                    BREAKING CHANGE: this is a breaking change
                actual: ${{ steps.compute-semver.outputs.changelog }}
