name: "Test Validate Commits (Compairifuel/.github #22)"

on:
    workflow_dispatch:
        inputs:
            defaults:
                description: "Whether to test defaults test cases"
                required: true
                default: true
                type: boolean

env:
    DEFAULT_ALLOWED_TYPES: "build,chore,ci,docs,feat,fix,perf,refactor,revert,style,test"

jobs:
    test-defaults-valid-commits:
        name: "GIVEN feat,fix,docs commits AND allowed_types IS build,chore,ci,docs,feat,fix,perf,refactor,revert,style,test WHEN validate-commits THEN does not error"
        runs-on: ubuntu-latest
        if: github.event.inputs.defaults == 'true'
        continue-on-error: true
        steps:
            - uses: actions/checkout@v6
            - uses: compairifuel/.github/actions/validate-commits@feat/commitlinter-workflow
              name: Perform Test
              id: validate-commits
              with:
                commits: |
                    feat: add new feature
                    fix: fix bug
                    docs: update documentation
                allowed_types: "${{ env.DEFAULT_ALLOWED_TYPES }}"
            - name: Assert does not error
              uses: jaronline/action-assertions/assert-equals@main
              with:
                expected: 'success'
                actual: ${{ job.status }}

    test-defaults-invalid-commits:
        name: "GIVEN feat,bugfix,docs AND allowed_types IS build,chore,ci,docs,feat,fix,perf,refactor,revert,style,test WHEN validate-commits THEN errors"
        runs-on: ubuntu-latest
        if: github.event.inputs.defaults == 'true'
        continue-on-error: true
        steps:
            - uses: actions/checkout@v6
            - uses: compairifuel/.github/actions/validate-commits@feat/commitlinter-workflow
              name: Perform Test
              id: validate-commits
              with:
                commits: |
                    feat: add new feature
                    bugfix: fix bug with wrong type
                    docs: update documentation
                allowed_types: "${{ env.DEFAULT_ALLOWED_TYPES }}"
            - name: Assert errors
              uses: jaronline/action-assertions/assert-equals@main
              with:
                expected: 'failure'
                actual: ${{ job.status }}
