name: "Test Validate Commits (Compairifuel/.github #22)"

on:
    workflow_dispatch:
        inputs:
            defaults:
                description: "Whether to test defaults test cases"
                required: true
                default: true
                type: boolean

env:
    DEFAULT_ALLOWED_TYPES: "build,chore,ci,docs,feat,fix,perf,refactor,revert,style,test"

jobs:
    test-defaults-valid-commits:
        name: "GIVEN feat,fix,docs commits AND allowed_types IS build,chore,ci,docs,feat,fix,perf,refactor,revert,style,test WHEN validate-commits THEN outcome=success"
        runs-on: ubuntu-latest
        if: github.event.inputs.defaults == 'true'
        steps:
            - uses: actions/checkout@v6
            - uses: compairifuel/.github/actions/validate-commits@feat/commitlinter-workflow
              name: Perform Test
              continue-on-error: true
              id: validate-commits
              with:
                commits: |
                    feat: add new feature
                    ==END==
                    fix: fix bug
                    ==END==
                    docs: update documentation
                    ==END==
                allowed_types: "${{ env.DEFAULT_ALLOWED_TYPES }}"
            - name: Assert does not error
              uses: jaronline/action-assertions/assert-equals@v1
              with:
                expected: 'success'
                actual: ${{ steps.validate-commits.outcome }}

    test-defaults-invalid-similair-commits:
        name: "GIVEN feat,bugfix,docs AND allowed_types IS build,chore,ci,docs,feat,fix,perf,refactor,revert,style,test WHEN validate-commits THEN outcome=failure"
        runs-on: ubuntu-latest
        if: github.event.inputs.defaults == 'true'
        steps:
            - uses: actions/checkout@v6
            - uses: compairifuel/.github/actions/validate-commits@feat/commitlinter-workflow
              name: Perform Test
              continue-on-error: true
              id: validate-commits
              with:
                commits: |
                    feat: add new feature
                    ==END==
                    bugfix: fix bug with wrong type
                    ==END==
                    docs: update documentation
                    ==END==
                allowed_types: "${{ env.DEFAULT_ALLOWED_TYPES }}"
            - name: Assert errors
              uses: jaronline/action-assertions/assert-equals@v1
              with:
                expected: 'failure'
                actual: ${{ steps.validate-commits.outcome }}

    test-defaults-invalid-different-commits:
        name: "GIVEN somethingcompletelydifferent,doesnotexist AND allowed_types IS build,chore,ci,docs,feat,fix,perf,refactor,revert,style,test WHEN validate-commits THEN outcome=failure"
        runs-on: ubuntu-latest
        if: github.event.inputs.defaults == 'true'
        steps:
            - uses: actions/checkout@v6
            - uses: compairifuel/.github/actions/validate-commits@feat/commitlinter-workflow
              name: Perform Test
              continue-on-error: true
              id: validate-commits
              with:
                commits: |
                    somethingcompletelydifferent: this is not the feature you are looking for
                    ==END==
                    doesnotexist: an empty commit
                    ==END==
                allowed_types: "${{ env.DEFAULT_ALLOWED_TYPES }}"
            - name: Assert errors
              uses: jaronline/action-assertions/assert-equals@v1
              with:
                expected: 'failure'
                actual: ${{ steps.validate-commits.outcome }}
